.container {
  background-color: #7f7979;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  flex-wrap: wrap;
  color: #dbedf3;
}

.container img {
  position: relative;
  width: 500px;
  border-radius: 30px;
  align-self: center;
}

.textContainer {
  width: 500px;
  word-wrap: break-word;
  align-self: center;
  text-align: left;
  background-color: rgba(0, 0, 0, 40%);
  padding: 20px;
}

.actionBlock {
  width: 100%;
  cursor: pointer;
  color: #dbedf3;
}

.actionBlock .actionInsideBlock {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.actionBlockOpen {
  animation: openAction 0.7s ease-out forwards;
}
.actionBlockClose {
  animation: closeAction 0.7s ease-out forwards;
}

@keyframes openAction {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes closeAction {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

@media (max-width: 1020px) {
  .container {
    padding: 0;
  }
  .container img {
    position: static;
    padding-bottom: 15px;
  }
}
