html {
  overflow: hidden;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
  text-shadow: 0px 0px 1px black;
}

p {
  font-size: 1.2rem;
  text-shadow: 0px 0px 1px black;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: 0px 0px 1px black;
  color: #c41d1d;
}
